In [43]:
import pandas as pd
from sklearn.decomposition import NMF
import numpy as np

In [3]:
# First import all the data
MV_users = pd.read_csv('data/users.csv')
MV_movies = pd.read_csv('data/movies.csv')
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [58]:
# lets see how many null values there are if I make a table of user ID's as rows and movie IDs as columns
ratings_by_user_df = train.pivot(index='uID', columns='mID', values='rating')
print('there are', sum(ratings_by_user_df.isna().sum()), 'null values.')
# thats a lot of null values. Lets fill them with the average rating
average_by_row = ratings_by_user_df.mean(axis = 1)
# this is the same calculation we did for homework 3 and its importand to preprocess the data in the same way
ratings_by_user_df = ratings_by_user_df.fillna(value = average_by_row)
# check it worked
print('there are now', sum(ratings_by_user_df.isna().sum()), 'null values.')

there are 21430414 null values.
there are now 0 null values.

In [59]:
average_by_row

uID
1       4.214286
2       3.648936
3       3.914286
4       3.928571
5       3.136986
          ...
6036    3.281399
6037    3.729167
6038    4.000000
6039    3.825581
6040    3.495614
Length: 6040, dtype: float64

In [55]:
ratings_by_user_df

mID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
uID,,,,,,,,,,,,,,,,,,,,,
1,5.000000,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
2,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
3,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
4,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
5,4.214286,3.648936,3.914286,3.928571,3.136986,2.000000,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,4.214286,3.648936,3.914286,2.000000,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
6037,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
6038,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
6039,4.214286,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143
6040,3.000000,3.648936,3.914286,3.928571,3.136986,3.795918,4.375,3.967391,3.867647,4.116197,...,4.166667,3.52,3.418919,3.828877,4.074074,3.469136,3.767857,3.22449,3.598592,3.857143

In [34]:
# lets run it through NMF
nmf = NMF(n_components=5, random_state=0,)
w1 = nmf.fit_transform(ratings_by_user_df)
h1 = nmf.components_

In [37]:
h1.shape

(5, 3664)

In [40]:
h1

array([[2.65879355, 2.03843367, 1.88508933, ..., 2.284945  , 2.42596586,
        2.40462053],
       [3.24018399, 2.50454264, 2.21306346, ..., 2.93936941, 3.12305028,
        2.99281183],
       [3.06457955, 2.5026261 , 2.27692733, ..., 2.77280795, 2.94100727,
        2.90631878],
       [3.15626718, 2.38009091, 2.18924643, ..., 2.72541784, 2.89221375,
        2.85105374],
       [3.80491261, 2.91702422, 2.69348123, ..., 3.25327977, 3.44831355,
        3.41957548]])

In [39]:
w1.shape

(6040, 5)

In [41]:
w1

array([[1.40193084e-01, 2.41399254e-02, 0.00000000e+00, 3.20032415e-05,
        9.81670357e-01],
       [0.00000000e+00, 0.00000000e+00, 2.99901192e-03, 6.62225946e-01,
        5.44648105e-01],
       [7.49763930e-03, 8.59571309e-03, 6.37254658e-01, 3.39838257e-01,
        2.61733760e-01],
       ...,
       [1.41943771e-01, 2.46366008e-02, 0.00000000e+00, 8.74572689e-06,
        9.78768354e-01],
       [0.00000000e+00, 0.00000000e+00, 3.21324259e-03, 6.55292282e-01,
        5.49801733e-01],
       [1.46997108e-01, 2.62022788e-02, 0.00000000e+00, 0.00000000e+00,
        9.66401692e-01]])

In [46]:
len(np.array(test.rating))

300063

In [47]:
6040*3664

22130560

In [51]:
# mutiply the matrixes to get a prediction
pred = np.matmul(w1, h1)
# turn it in to a dataframe
pred_df = pd.DataFrame(data = pred, index = ratings_by_user_df.index.values, columns = ratings_by_user_df.columns.values) 
pred_df 
# pred_df['uID'] = pred_df.index.values
# #print(pred_df.head())
# pred_df = pd.melt(pred_df, id_vars=['uID'], var_name='mID', value_name='pred_rating')
# out_df = pred_df.merge(test, on=['uID', 'mID'])
# out_df.head()

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,4.186233,3.209866,2.961880,2.692489,2.966214,3.917900,3.389378,2.914428,2.561909,3.510562,...,3.030871,3.000823,1.307513,2.268454,3.431219,3.657072,4.155694,3.585025,3.800694,3.766345
2,4.171691,3.172415,2.923604,2.679157,2.941979,3.900057,3.362422,2.912163,2.559158,3.521407,...,3.034867,3.001864,1.307082,2.263708,3.437005,3.611660,4.146596,3.585051,3.802237,3.759223
3,4.069198,3.203952,2.933104,2.694321,2.946336,3.927799,3.364102,2.910655,2.573600,3.577750,...,3.029782,3.001756,1.316357,2.273226,3.428350,3.632507,4.156897,3.587077,3.804629,3.759735
4,4.181066,3.205920,2.958174,2.689188,2.962504,3.913319,3.385205,2.910933,2.558862,3.506414,...,3.027275,2.997256,1.305948,2.265777,3.427166,3.652581,4.150795,3.580747,3.796173,3.761787
5,4.150002,3.182120,2.936128,2.669232,2.940440,3.884499,3.360062,2.889417,2.539976,3.480538,...,3.004954,2.975142,1.296299,2.249072,3.401908,3.625443,4.120211,3.554313,3.768162,3.733935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,4.109139,3.124527,2.879411,2.638664,2.897511,3.841321,3.311704,2.868292,2.520576,3.467969,...,2.989249,2.956693,1.287352,2.229616,3.385341,3.557102,4.084261,3.531087,3.745003,3.702519
6037,4.053984,3.191241,2.921495,2.683872,2.934837,3.912645,3.351016,2.899591,2.563751,3.564088,...,3.018349,2.990380,1.311317,2.264527,3.415449,3.618147,4.141006,3.573455,3.790202,3.745380
6038,4.181382,3.206158,2.958412,2.689386,2.962739,3.913560,3.385459,2.911128,2.559028,3.506642,...,3.027467,2.997449,1.306035,2.265920,3.427380,3.652857,4.151053,3.580981,3.796418,3.762051
6039,4.170072,3.171482,2.922793,2.678178,2.941025,3.898514,3.361295,2.910939,2.558086,3.519775,...,3.033518,3.000560,1.306530,2.262770,3.435452,3.610603,4.144883,3.583514,3.800584,3.757701
6040,4.152809,3.184286,2.938075,2.671065,2.942372,3.887465,3.362351,2.891490,2.541829,3.483158,...,3.007135,2.977303,1.297230,2.250745,3.404411,3.627962,4.123257,3.556874,3.770897,3.736574